:root {
    --background-color: #f2f2f2;
    --color: #1e1e1e;


    color: var(--color);


    @media (prefers-color-scheme: dark) {
        --color: #f2f2f2;
        --background-color: #1e1e1e;
    }
}

@font-face {
    font-family: 'Satisfy-Regular';
    src: url('../assets/fonts/Satisfy/Satisfy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('../assets/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Righteous-Regular';
    src: url('../assets/fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

a {
    color: var(--color);
    text-decoration: none;

}

footer {
    background-color: var(--color);
    margin-top: 3rem;
    color: var(--background-color);
}

footer a {
    color: var(--color);
    text-decoration: underline;
}

footer span {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
}

nav {
    background-color: #c6c6c6;
    position: sticky;
    top: 0;
    height: 2rem;
}

nav #current-time {
    color: black;
    font-size: 1.5rem;
}

.navbar-link {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem;
    transition: color 0.5s;


}

.navbar-link:hover {
    color: #13930e;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

main {
    padding: 0 1.5rem;
}

footer {
    background-color: var(--color);
    padding: 1rem;
    color: var(--background-color);
}

footer a {
    color: var(--background-color);
    text-decoration: underline;
}

p.presentation {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2rem;
    color: var(--color);

}

header.baniere {

    background-image: url("../assets/img/Colibrimecanique.jpg");
    background-size: cover;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header.baniere a {
    color: #f2f2f2;
}

h1 {
    text-align: center;
    font-family: 'Righteous-Regular', sans-serif;
    margin-top: 2rem;
    font-size: 3rem;
}

header.baniere section {
    width: 40%;
}

.oeuvrespop,
.shopview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--color);
    border-radius: 1rem;
}

figcaption {
    color: var(--background-color);
    font-size: 1.5rem;
}

figure {
    border: rgb(207, 166, 0) 4px solid;
}

h2 {
    font-family: 'Pacifico-Regular', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
}

h3 {
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
    border: 1px solid var(--color);
    border-radius: 1rem;
    border-width: 0.5vh;
    padding: 1rem;
}

h4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    font-size: 1.5rem;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--color);
}

.registertitle {
    border: #13930e 3px solid;
    border-radius: 1rem;
    border-top: 0;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border: #13930e 3px solid;
    border-radius: 1rem;
    border-top: 0;
    margin-top: 10rem;
}

.boutique {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.coordonnees {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


ul.fil-ariane {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.facturation {
    text-align: center;
}

section .recapfacture {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: rgb(207, 166, 0) 4px solid;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

section .recapfacture b {
    font-size: 1rem;
}

.backoffice-users table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section.recapProfil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: rgb(207, 166, 0) 4px solid;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

section.recapCommande {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: rgb(207, 166, 0) 4px solid;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

p.accepted {
    color: green;
}

p.refused {
    color: red;
}

tr.entete {
    text-decoration: underline;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--color)
}

.commentaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.commentField {
    height: 10rem;
    width: 40rem;
    margin-bottom: 2rem;
}

.formAddProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.formAddProduct label {
    width: 150px;
    display: inline-block;
    text-align: right;
}

.panneauUtilisateurs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



}

.adminboutique {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
    width: 60%;
}

#search-input {
    width: 30%;
}

.modifyProfil table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-separator {
    background-color: var(--color);
    color: var(--background-color);
    font-weight: bold;
}

.clicked {
    cursor: url("/MecaChrysalide/assets/img/meca-cursor_15px.png"), auto;
  }
  